a {
text-decoration: none;

}


.post-avatar {
border-radius: 50%;

}


.blue{
color: #2A5D88;

}


.blue:hover {
text-decoration: underline;

}

.time {
margin-top: 0.6em;

}


body {
background-color: white;

}


a:hover{
color: red;

}


p, h1, h3 {
font-family: "Istok Web";

}


img.logo{
margin-bottom: -2em;
left: 10%;
}


p.greeting{
position: absolute;
width: 400px;
height: 30%;
left: 10%;
top: 180px;
font-family: Istok Web;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
color: #000000;
}


.page-name{
font-family: "Istok Web";
position: relative;
margin: 0 auto;
font-size: 2em;
margin-bottom: -0.5em;
margin-top: 0.5em;
transform-origin: 10% 10%;
}


input {
font-family: "Istok Web";
margin: 5px;
size: 32;
height: 2em;
border-radius: 10px;
border-color: black;
border-width: 1px;
text-align: center;
font-size: 1em;
}


.post {
font-family: "Istok Web";
width: 110%;
background: #fff;
border-radius: 4px;
border-color: #d7d8db;
box-shadow: 1px 2px 2px 2px #d7d8db;
padding: 15px;
margin-left: -3.1em;
margin-bottom: 15px;
}


.post-input-window{
text-align: left;
width: 40%;
margin: auto;
margin-top: 1em;
}


.post-text{
margin-top: 10px;
margin-bottom: 10px;
}


.post-input {
font-family: "Istok Web";
margin: 5px; width: 100%;
height: 5em; border-radius: 10px;
border-color: #D3D9DE; border-width: 1px;
text-align: center; font-size: 1em;
padding: 10px; resize: vertical;
}


.post-image{
height: auto;
width: 510px;
margin: auto;
}


.post-image-h{
max-width:50%;
max-height:50%;
margin-bottom: 0em;
}


.post-image-w{
max-width:100%;
max-height:100%;
margin-bottom: 0em;
}


.post-avatar{
float: left;
margin-right: 5px;
margin-bottom: 5px;
}


.post-username{
font-size: 20px;
margin-bottom: -10px;
}


.post-time{
margin-top: 2px;
margin-left: -10px;
color: #9999AE;
}


.post-button {
margin-top: -0.5em; margin-bottom: 1em;
padding-left: 20px; padding-right: 20px;
size: 32; height: 2em;
border-radius: 10px; border-color: black;
border-width: 1px;
font-size: 1em; background-color: white;
}


.post-button:hover{
background: #e3e3e3;

}


.button{
margin: 5px; padding-left: 20px;
padding-right: 20px; size: 32; height: 2em;
border-radius: 10px; border-color: black;
border-width: 1px; text-align: center;
font-size: 1em; background-color: white;
}


.button:hover{
background: #e3e3e3;

}


.small-text {
color: #9999AE;
text-align: right;
float: right;
margin-top: 0.3em;
}


.small-text:hover {
color: red;

}


#slideshow {
margin: 80px auto; position: relative;
width: 240px; height: 240px;
padding: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


#slideshow > div {
position: absolute;
top: 10px;
left: 10px;
right: 10px;
bottom: 10px;
}