{% extends "base.html" %}

{% block content %}
    {% if form %}
    <div class="post-input-window">
        {% if prev_url and not next_url%}
            <p align="center">
                <a href="{{ prev_url }}">
                    Более новые записи
                </a></p>
        {% endif %}

        {% if next_url and not prev_url %}
            <p align="center">
                <a href="{{ next_url }}">
                    Более старые записи
                </a></p>
        {% endif %}

        {% if next_url and prev_url %}
            <p align="center">
                <a href="{{ prev_url }}">
                    Более новые записи</a>
                | <a href="{{ next_url }}">
                Более старые записи
            </a></p>
        {% endif %}

        <form action="" method="post" enctype="multipart/form-data" >
            {{ form.hidden_tag() }}
            <div class="post" align="center">
                {{ form.post(class_="post-input") }}<br>
                {% for error in form.post.errors %}
                <p align="center" style="color: red;">{{ error }}</p>
                {% endfor %}
                {{ form.file() }}
                <input type="submit" align="right" class="button">
            </div>
        </form>
    </div>
    {% endif %}

    <div style="text-align: left; width: 40%; margin: auto; padding-top: 1em;">
        {% for post in posts %}
        {% include '_post.html' %}
        {% endfor %}
    </div>

    {% if prev_url and not next_url%}
            <p align="center">
                <a href="{{ prev_url }}">
                    Более новые записи
                </a></p>
        {% endif %}

        {% if next_url and not prev_url %}
            <p align="center">
                <a href="{{ next_url }}">
                    Более старые записи
                </a></p>
        {% endif %}

        {% if next_url and prev_url %}
            <p align="center">
                <a href="{{ prev_url }}">
                    Более новые записи</a>
                | <a href="{{ next_url }}">
                Более старые записи
            </a></p>
        {% endif %}
{% endblock %}
